{% include 'header.html' %}

        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">

                        <h2 class="section-heading">{{title}}</h2>
                        <h3 class="post-subtitle">{{subtitle}}</h3>
                            <p>{{blog }} </p>
                            Posted by {{author}} at: {{date}}
                            <a href="{{image}}">Space Ipsum</a>
                            &middot; Images by
                            <a href="{{image}}">NASA on The Commons</a>
                        </p>
                    </div>
                </div>
            </div>
        </article>
{% include 'footer.html' %}